{% extends 'base.html.twig' %}

{% block title %}Hello Bermarte!{% endblock %}

{% block body %}
<ul>
    <!-- student.name would be <?php $student->getName(); ?>-->
    <li>Name: {{ student.name }}</li>
    <li>Age: {{ student.age }}</li>
    <li>Email: {{ student.email }}</li>
</ul>
{% endblock %}
